// TODO use ref tokens

@mixin theme {
  --md-sys-color-primary: #245fa6;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #d5e3ff;
  --md-sys-color-on-primary-container: #001b3c;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-on-primary-fixed: #001b3c;
  --md-sys-color-primary-fixed-dim: #a8c8ff;
  --md-sys-color-on-primary-fixed-variant: #004689;
  --md-sys-color-secondary: #555f71;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d9e3f8;
  --md-sys-color-on-secondary-container: #121c2b;
  --md-sys-color-secondary-fixed: #d9e3f8;
  --md-sys-color-on-secondary-fixed: #121c2b;
  --md-sys-color-secondary-fixed-dim: #bdc7dc;
  --md-sys-color-on-secondary-fixed-variant: #3d4758;
  --md-sys-color-tertiary: #6f5675;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #f8d8fe;
  --md-sys-color-on-tertiary-container: #28132f;
  --md-sys-color-tertiary-fixed: #f8d8fe;
  --md-sys-color-on-tertiary-fixed: #28132f;
  --md-sys-color-tertiary-fixed-dim: #dbbce1;
  --md-sys-color-on-tertiary-fixed-variant: #563e5d;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-outline: #74777f;
  --md-sys-color-surface: #faf9fd;
  --md-sys-color-on-surface: #1a1c1e;
  --md-sys-color-surface-variant: #e0e2ec;
  --md-sys-color-on-surface-variant: #43474e;
  --md-sys-color-inverse-surface: #2f3033;
  --md-sys-color-inverse-on-surface: #f1f0f4;
  --md-sys-color-inverse-primary: #a8c8ff;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #245fa6;
  --md-sys-color-outline-variant: #c4c6cf;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-container-highest: #e3e2e6;
  --md-sys-color-surface-container-high: #e9e7eb;
  --md-sys-color-surface-container: #eeedf1;
  --md-sys-color-surface-container-low: #f4f3f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-bright: #faf9fd;
  --md-sys-color-surface-dim: #dad9dd;

  --md-sys-company-logo: url('/assets/images/tt-logo-light-theme.png') center center no-repeat;
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme;
  }
}
