:root {
  --md-ref-primary-primary0: #000000;
  --md-ref-primary-primary10: #001b3c;
  --md-ref-primary-primary20: #003061;
  --md-ref-primary-primary30: #004689;
  --md-ref-primary-primary40: #245fa6;
  --md-ref-primary-primary50: #4378c1;
  --md-ref-primary-primary60: #5f92dd;
  --md-ref-primary-primary70: #7aacfa;
  --md-ref-primary-primary80: #a8c8ff;
  --md-ref-primary-primary90: #d5e3ff;
  --md-ref-primary-primary95: #ecf1ff;
  --md-ref-primary-primary99: #fdfbff;
  --md-ref-primary-primary100: #ffffff;
  --md-ref-primary-primary4: #000e24;
  --md-ref-primary-primary6: #00132d;
  --md-ref-primary-primary12: #001f43;
  --md-ref-primary-primary17: #002a56;
  --md-ref-primary-primary22: #003469;
  --md-ref-primary-primary24: #003971;
  --md-ref-primary-primary87: #c8dbff;
  --md-ref-primary-primary92: #dee8ff;
  --md-ref-primary-primary94: #e7eeff;
  --md-ref-primary-primary96: #f0f3ff;
  --md-ref-primary-primary5: #001129;
  --md-ref-primary-primary25: #003b75;
  --md-ref-primary-primary35: #10529a;
  --md-ref-primary-primary98: #f9f9ff;

  --md-ref-secondary-secondary0: #000000;
  --md-ref-secondary-secondary10: #121c2b;
  --md-ref-secondary-secondary20: #273141;
  --md-ref-secondary-secondary30: #3d4758;
  --md-ref-secondary-secondary40: #555f71;
  --md-ref-secondary-secondary50: #6e778a;
  --md-ref-secondary-secondary60: #8791a5;
  --md-ref-secondary-secondary70: #a2abc0;
  --md-ref-secondary-secondary80: #bdc7dc;
  --md-ref-secondary-secondary90: #d9e3f8;
  --md-ref-secondary-secondary95: #ecf1ff;
  --md-ref-secondary-secondary99: #fdfbff;
  --md-ref-secondary-secondary100: #ffffff;
  --md-ref-secondary-secondary4: #050e1d;
  --md-ref-secondary-secondary6: #091423;
  --md-ref-secondary-secondary12: #162030;
  --md-ref-secondary-secondary17: #212a3a;
  --md-ref-secondary-secondary22: #2b3546;
  --md-ref-secondary-secondary24: #303a4a;
  --md-ref-secondary-secondary87: #d1daf0;
  --md-ref-secondary-secondary92: #dfe8fe;
  --md-ref-secondary-secondary94: #e7eeff;
  --md-ref-secondary-secondary96: #f0f3ff;
  --md-ref-secondary-secondary5: #071120;
  --md-ref-secondary-secondary25: #323c4d;
  --md-ref-secondary-secondary35: #495364;
  --md-ref-secondary-secondary98: #f9f9ff;

  --md-ref-tertiary-tertiary0: #000000;
  --md-ref-tertiary-tertiary10: #28132f;
  --md-ref-tertiary-tertiary20: #3e2845;
  --md-ref-tertiary-tertiary30: #563e5d;
  --md-ref-tertiary-tertiary40: #6f5675;
  --md-ref-tertiary-tertiary50: #886e8f;
  --md-ref-tertiary-tertiary60: #a387aa;
  --md-ref-tertiary-tertiary70: #bfa1c5;
  --md-ref-tertiary-tertiary80: #dbbce1;
  --md-ref-tertiary-tertiary90: #f8d8fe;
  --md-ref-tertiary-tertiary95: #feebff;
  --md-ref-tertiary-tertiary99: #fffbff;
  --md-ref-tertiary-tertiary100: #ffffff;
  --md-ref-tertiary-tertiary4: #190621;
  --md-ref-tertiary-tertiary6: #1f0b26;
  --md-ref-tertiary-tertiary12: #2c1733;
  --md-ref-tertiary-tertiary17: #37223e;
  --md-ref-tertiary-tertiary22: #432d4a;
  --md-ref-tertiary-tertiary24: #47314e;
  --md-ref-tertiary-tertiary87: #efd0f5;
  --md-ref-tertiary-tertiary92: #fbdfff;
  --md-ref-tertiary-tertiary94: #fde7ff;
  --md-ref-tertiary-tertiary96: #ffeffe;
  --md-ref-tertiary-tertiary5: #1c0824;
  --md-ref-tertiary-tertiary25: #4a3351;
  --md-ref-tertiary-tertiary35: #624a69;
  --md-ref-tertiary-tertiary98: #fff7fb;

  --md-ref-error-error0: #000000;
  --md-ref-error-error10: #410002;
  --md-ref-error-error20: #690005;
  --md-ref-error-error30: #93000a;
  --md-ref-error-error40: #ba1a1a;
  --md-ref-error-error50: #de3730;
  --md-ref-error-error60: #ff5449;
  --md-ref-error-error70: #ff897d;
  --md-ref-error-error80: #ffb4ab;
  --md-ref-error-error90: #ffdad6;
  --md-ref-error-error95: #ffedea;
  --md-ref-error-error99: #fffbff;
  --md-ref-error-error100: #ffffff;
  --md-ref-error-error4: #280001;
  --md-ref-error-error6: #310001;
  --md-ref-error-error12: #490002;
  --md-ref-error-error17: #5c0004;
  --md-ref-error-error22: #710005;
  --md-ref-error-error24: #790006;
  --md-ref-error-error87: #ffcfc9;
  --md-ref-error-error92: #ffe2de;
  --md-ref-error-error94: #ffe9e6;
  --md-ref-error-error96: #fff0ee;
  --md-ref-error-error5: #2d0001;
  --md-ref-error-error25: #7e0007;
  --md-ref-error-error35: #a80710;
  --md-ref-error-error98: #fff8f7;

  --md-ref-neutral-neutral0: #000000;
  --md-ref-neutral-neutral4: #0d0e11;
  --md-ref-neutral-neutral6: #121316;
  --md-ref-neutral-neutral10: #1a1c1e;
  --md-ref-neutral-neutral12: #1e2023;
  --md-ref-neutral-neutral17: #292a2d;
  --md-ref-neutral-neutral20: #2f3033;
  --md-ref-neutral-neutral22: #343538;
  --md-ref-neutral-neutral24: #38393c;
  --md-ref-neutral-neutral30: #46474a;
  --md-ref-neutral-neutral40: #5e5e62;
  --md-ref-neutral-neutral50: #76777a;
  --md-ref-neutral-neutral60: #909094;
  --md-ref-neutral-neutral70: #ababaf;
  --md-ref-neutral-neutral80: #c7c6ca;
  --md-ref-neutral-neutral87: #dad9dd;
  --md-ref-neutral-neutral90: #e3e2e6;
  --md-ref-neutral-neutral92: #e9e7eb;
  --md-ref-neutral-neutral94: #eeedf1;
  --md-ref-neutral-neutral95: #f1f0f4;
  --md-ref-neutral-neutral96: #f4f3f7;
  --md-ref-neutral-neutral99: #fdfbff;
  --md-ref-neutral-neutral100: #ffffff;
  --md-ref-neutral-neutral5: #101114;
  --md-ref-neutral-neutral25: #3a3b3e;
  --md-ref-neutral-neutral35: #525256;
  --md-ref-neutral-neutral98: #faf9fd;

  --md-ref-neutral-variant-neutral-variant0: #000000;
  --md-ref-neutral-variant-neutral-variant10: #181c22;
  --md-ref-neutral-variant-neutral-variant20: #2d3038;
  --md-ref-neutral-variant-neutral-variant30: #43474e;
  --md-ref-neutral-variant-neutral-variant40: #5b5e66;
  --md-ref-neutral-variant-neutral-variant50: #74777f;
  --md-ref-neutral-variant-neutral-variant60: #8e9199;
  --md-ref-neutral-variant-neutral-variant70: #a8abb4;
  --md-ref-neutral-variant-neutral-variant80: #c4c6cf;
  --md-ref-neutral-variant-neutral-variant90: #e0e2ec;
  --md-ref-neutral-variant-neutral-variant95: #eef0fa;
  --md-ref-neutral-variant-neutral-variant99: #fdfbff;
  --md-ref-neutral-variant-neutral-variant100: #ffffff;
  --md-ref-neutral-variant-neutral-variant4: #0b0e15;
  --md-ref-neutral-variant-neutral-variant6: #10131a;
  --md-ref-neutral-variant-neutral-variant12: #1c2026;
  --md-ref-neutral-variant-neutral-variant17: #272a31;
  --md-ref-neutral-variant-neutral-variant22: #31353c;
  --md-ref-neutral-variant-neutral-variant24: #363941;
  --md-ref-neutral-variant-neutral-variant87: #d7dae3;
  --md-ref-neutral-variant-neutral-variant92: #e6e8f1;
  --md-ref-neutral-variant-neutral-variant94: #ebedf7;
  --md-ref-neutral-variant-neutral-variant96: #f1f3fd;
  --md-ref-neutral-variant-neutral-variant5: #0d1117;
  --md-ref-neutral-variant-neutral-variant25: #383b43;
  --md-ref-neutral-variant-neutral-variant35: #4f525a;
  --md-ref-neutral-variant-neutral-variant98: #f9f9ff;
}
