:root {
  --md-sys-state-enabled-state-layer-opacity: 0;
  --md-sys-state-hover-state-layer-opacity: .08;
  --md-sys-state-pressed-state-layer-opacity: .12;
  --md-sys-state-dragged-state-layer-opacity: .16;
  --md-sys-state-focused-state-layer-opacity: .12;
  --md-sys-state-selected-state-layer-opacity: .16;
  --md-sys-state-disabled-state-layer-opacity: .38;
}
