:root {
  // typography: https://m3.material.io/styles/typography/type-scale-tokens
  // display
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-line-height: 4rem;
  --md-sys-typescale-display-large-size: 3.5625rem;
  --md-sys-typescale-display-large-tracking: 0.015625rem;
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-line-height: 3.25rem;
  --md-sys-typescale-display-medium-size: 2.8125rem;
  --md-sys-typescale-display-medium-tracking: 0;
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-line-height: 2.75rem;
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-tracking: 0;
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);

  // headline
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-line-height: 2.5rem;
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-tracking: 0;
  --md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-line-height: 2.25rem;
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-tracking: 0;
  --md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-line-height: 2rem;
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-tracking: 0;
  --md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular);

  // title
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-line-height: 1.75rem;
  --md-sys-typescale-title-large-size: 1.375rem;
  --md-sys-typescale-title-large-tracking: 0;
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-medium-line-height: 1.5rem;
  --md-sys-typescale-title-medium-size: 1rem;
  --md-sys-typescale-title-medium-tracking: 0.009375rem;
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);

  --md-sys-typescale-title-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-small-line-height: 1.25rem;
  --md-sys-typescale-title-small-size: 0.875rem;
  --md-sys-typescale-title-small-tracking: 0.00625rem;
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);

  // label
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-label-large-line-height: 1.25rem;
  --md-sys-typescale-label-large-size: 0.875rem;
  --md-sys-typescale-label-large-tracking: 0.00625rem;
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);

  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-label-medium-line-height: 1rem;
  --md-sys-typescale-label-medium-size: 0.75rem;
  --md-sys-typescale-label-medium-tracking: 0.03125rem;
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);

  --md-sys-typescale-label-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-label-small-line-height: 1rem;
  --md-sys-typescale-label-small-size: 0.6875rem;
  --md-sys-typescale-label-small-tracking: 0.03125rem;
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);


  // body
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-body-large-line-height: 1.5rem;
  --md-sys-typescale-body-large-size: 1rem;
  --md-sys-typescale-body-large-tracking: 0.03125rem;
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-body-medium-line-height: 1.25rem;
  --md-sys-typescale-body-medium-size: 0.875rem;
  --md-sys-typescale-body-medium-tracking: 0.015625rem;
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);

  --md-sys-typescale-body-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-body-small-line-height: 1rem;
  --md-sys-typescale-body-small-size: 0.75rem;
  --md-sys-typescale-body-small-tracking: 0.025rem;
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
}
