:root {
  --md-sys-size-1: .25rem;
  --md-sys-size-2: .5rem;
  --md-sys-size-3: .75rem;
  --md-sys-size-4: 1rem;
  --md-sys-size-5: 1.25rem;
  --md-sys-size-6: 1.5rem;
  --md-sys-size-7: 1.75rem;
  --md-sys-size-8: 2rem;
  --md-sys-size-9: 3rem;
  --md-sys-size-10: 4rem;
  --md-sys-size-11: 5rem;
  --md-sys-size-12: 7.5rem;
  --md-sys-size-13: 10rem;
}
