@use '@angular/material' as mat;
@use 'typography';

.cover {
  height: 14rem;
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  position: relative;
  cursor: pointer;

  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}

.title {
  @include typography.title-large;
  padding: var(--md-sys-size-4);
}

:host {
  display: block;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-container);
  border-radius: var(--md-sys-size-4);
  @include mat.elevation-transition();
  @include mat.elevation(0);

  &:hover {
    @include mat.elevation(4);
  }
}

.card {
  @include mat.elevation-transition();
  @include mat.elevation(0);

  @media (hover) {
    &:hover {
      @include mat.elevation(8);
    }
  }
}
