@use 'typography';
@use 'breakpoints';

.page-title {
  @include typography.display-large;
}

.section-title {
  @include typography.headline-large;
  margin-bottom: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 2fr;
  @include breakpoints.use(xs, s, m) {
    grid-template-columns: 1fr;
  }
  gap: 2rem;

  .section:last-child {
    @include breakpoints.use(xs, s, m) {
      grid-row: 1;
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  // TODO use tokens
  gap: 2rem;
}
