@use 'app/styles/tokens';
@use 'app/styles/theming';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  // TODO use tokens
  transition: background-color .3s ease;

  //&:after {
  //  content: '';
  //  pointer-events: none;
  //  background: var(--md-sys-company-logo);
  //  background-size: contain;
  //  position: absolute;
  //  width: 5.635rem;
  //  height: 4.3125rem;
  //  left: 15rem;
  //  bottom: 4rem;
  //  // TODO use token instead
  //  z-index: 111111;
  //}
}
