@use 'app/styles/tokens';
@use 'app/styles/theming';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--md-sys-color-surface);
}
