<labs-top-app-bar></labs-top-app-bar>
<mat-drawer-container class="drawer-container">
  <mat-drawer class="drawer" mode="side" opened>
    <div class="navigation">
      <div class="top">
        <labs-logo></labs-logo>
        <div class="title">Components</div>
      </div>
      <div class="scroll-container">
        <labs-navigation></labs-navigation>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
