@use 'typography';

.drawer-container {
  height: 100%;
}

.drawer {
  width: 22.5rem;
}

.drawer-content {
  padding: var(--md-sys-size-8);
}

.navigation {
  display: flex;
  flex-direction: column;

  .top {
    display: grid;
    place-items: center;
    padding: var(--md-sys-size-8);
    gap: var(--md-sys-size-6);
  }
}

.title {
  @include typography.title-large;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
